Host github.com
  HostName github.com
  IdentityFile ~/.ssh/id_ed25519_github
  User git
  Port 22
  TCPKeepAlive yes
  IdentitiesOnly  yes

Host bitbucket.org
  HostName bitbucket.org
  IdentityFile ~/.ssh/id_ed25519_bitbucket
  User git
  Port 22
  TCPKeepAlive yes
  IdentitiesOnly yes
  AddressFamily inet
