encryption = "age"

[age]
identity = "~/.config/chezmoi/key.txt"
recipient = "age1x68cpnlz5ayg9tvtgdtlf0q3vganc5slnwdcxsrwxw8k3ng4ud8sfprm46"

[edit]
command = "code"
args = ["--wait"]

[hooks.read-source-state.pre]
command = ".local/share/chezmoi/.install-password-manager.sh"
