{{- $full_setup := promptBoolOnce . "full setup" "Do you run a full setup? (true/false)" -}}

encryption = "age"

[age]
identity = "~/.config/chezmoi/key.txt"
recipient = "age1ata5efwdcdeg98ts0aqvmhkrawu38k8vevz6cuwaw4c3frhgpd4s8u86k7"

[data]
full_setup = {{ $full_setup }}

[edit]
command = "code"
args = ["--wait"]

[hooks.read-source-state.pre]
# command = ".local/share/chezmoi/.install-prerequisite-packages.sh"
command = "source"
args = ["~/.local/share/chezmoi/.install-prerequisite-packages.sh"]
