{{- if eq .chezmoi.os "linux" -}}
#!/usr/bin/env bash

set -Ceuo pipefail

{{ template "utils.sh" . }}

# install packages
info "Install packages..."
sudo apt update && sudo apt upgrade -y

packages=(
    {{ range $package := .packages.apt.base.packages }}
    "{{ $package }}"
    {{ end }}
    {{ if .full_setup }}
    {{ range $package := .packages.apt.extra.packages }}
    "{{ $package }}"
    {{ end }}
    {{ end }}
)

for package in "${packages[@]}"; do
  sudo apt install -y $package
done

# Install mise
info "Install mise..."
sudo apt update
sudo install -dm 755 /etc/apt/keyrings
curl -fSs https://mise.jdx.dev/gpg-key.pub | sudo tee /etc/apt/keyrings/mise-archive-keyring.asc 1> /dev/null
# echo "deb [signed-by=/etc/apt/keyrings/mise-archive-keyring.asc] https://mise.jdx.dev/deb stable main" | sudo tee /etc/apt/sources.list.d/mise.list
sudo tee /etc/apt/sources.list.d/mise.sources <<EOF
Types: deb
URIs: https://mise.jdx.dev/deb
Suites: stable
Components: main
Signed-By: /etc/apt/keyrings/mise-archive-keyring.asc
EOF

sudo apt update
sudo apt install -y mise

# Install Docker
# https://docs.docker.com/engine/install/ubuntu/
info "Install docker..."
sudo apt remove -y $(dpkg --get-selections docker.io docker-compose docker-compose-v2 docker-doc podman-docker containerd runc | cut -f1)
# Add Docker's official GPG key:
sudo apt update
sudo install -m 0755 -d /etc/apt/keyrings
sudo curl -fsSL https://download.docker.com/linux/ubuntu/gpg -o /etc/apt/keyrings/docker.asc
sudo chmod a+r /etc/apt/keyrings/docker.asc
# Add the repository to Apt sources:
sudo tee /etc/apt/sources.list.d/docker.sources <<EOF
Types: deb
URIs: https://download.docker.com/linux/ubuntu
Suites: $(. /etc/os-release && echo "${UBUNTU_CODENAME:-$VERSION_CODENAME}")
Components: stable
Signed-By: /etc/apt/keyrings/docker.asc
EOF

sudo apt update
sudo apt install -y docker-ce docker-ce-cli containerd.io docker-buildx-plugin docker-compose-plugin
# Run docker as non-root user
sudo groupadd -f docker
sudo usermod -aG docker $USER

{{- end }}
