{{- if eq .chezmoi.os "linux" -}}
#!/usr/bin/env bash

set -Ceuo pipefail

# locale
sudo locale-gen en_US.UTF-8
sudo localectl set-locale LANG=en_US.UTF-8

# timezone
sudo timedatectl set-timezone Asia/Tokyo

# apt repository
sudo sed -i.bak -r 's@http://(jp\.)?archive\.ubuntu\.com/ubuntu/?@https://ftp.udx.icscoe.jp/Linux/ubuntu/@g' /etc/apt/sources.list.d/ubuntu.sources
sudo apt update && sudo apt upgrade -y

# install packages
packages=(
    {{ range $package := .packages.apt.base.packages }}
    "{{ $package }}"
    {{ end }}
    {{ if .full_setup }}
    {{ range $package := .packages.apt.extra.packages }}
    "{{ $package }}"
    {{ end }}
    {{ end }}
)

for package in "${packages[@]}"; do
  sudo apt install -y $package
done

{{- end }}
