{{- if eq .chezmoi.os "linux" -}}
#!/usr/bin/env bash

set -Ceuo pipefail

{{ template "utils.sh" . }}

# install packages
info "Install packages..."
sudo apt update && sudo apt upgrade -y

packages=(
    {{ range $package := .packages.apt.base.packages }}
    "{{ $package }}"
    {{ end }}
    {{ if .full_setup }}
    {{ range $package := .packages.apt.extra.packages }}
    "{{ $package }}"
    {{ end }}
    {{ end }}
)

for package in "${packages[@]}"; do
  sudo apt install -y $package
done

{{- end }}
