{{- $private_setup := promptBoolOnce . "private_setup" "Do you run a private setup" false -}}

encryption = "age"

[age]
identity = "~/.config/chezmoi/key.txt"
recipient = "age1ata5efwdcdeg98ts0aqvmhkrawu38k8vevz6cuwaw4c3frhgpd4s8u86k7"

[bitwarden]
unlock = "auto"

[data]
private_setup = {{ $private_setup }}

{{ if eq .chezmoi.os "windows" -}}
[cd]
command = "pwsh.exe"
args = ["-NoLogo"]
{{- end }}

[edit]
command = "code"
args = ["--wait"]
