#!/usr/bin/env bash
#
# Final setup.
#
# shellcheck disable=SC1009,SC1054,SC1056,SC1072,SC1073,SC1083

set -Ceuo pipefail

# {{- if eq .chezmoi.os "linux" }}

{{ template "utils.sh" . }}

info "Final setup..."

# # Make chezmoi use git with SSH
# cd "{{ .chezmoi.sourceDir }}"
# CHEZMOI_SSH_URL=$(git remote get-url origin \
#   | sed -Ene's#https://([^/]*)/([^/]*/.*.git)#git@\1:\2#p')
# [[ -z $CHEZMOI_SSH_URL ]] || git remote set-url origin $CHEZMOI_SSH_URL

# source ~/.profile

# {{- end }}
