#!/usr/bin/env bash
#
# shellcheck disable=all

set -Ceuo pipefail

export CHEZMOI_REPO_ROOT="{{ .chezmoi.workingTree }}"

if [ -e /.dockerenv ]; then
  echo "Running inside a container. Skipping WSL configuration."
  exit 0
fi

echo "WSL configuration..."

sudo tee /etc/wsl.conf >/dev/null <<'EOF'
[automount]
enabled=true
options="metadata"

[boot]
systemd=true

[interop]
enabled=true
appendWindowsPath=false

[user]
default={{ .chezmoi.username }}
EOF
