{{- /* age encryption private key retrieved from Bitwarden */ -}}
{{- /* This template retrieves the age private key from Bitwarden during chezmoi init */ -}}
{{ (bitwarden "item" "chezmoi-age-key").notes | b64dec -}}
